<a href="https://colab.research.google.com/github/MatthewM287/Module-11/blob/main/Module_11_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The Point of this was to see what the current (1987)  contraceptive method choice (no use, long-term methods, or short-term methods) of a woman based on her demographic and socio-economic characteristics.

In [5]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns
df = pd.read_csv("https://raw.githubusercontent.com/MatthewM287/Module-11/main/Contraceptive%20Method%20Choice%20Data%20Set%20.csv", names = column_names)
df_original = df.copy()
print('The dimensions of the data are: ', df.shape)
df.head()

The dimensions of the data are:  (20, 9)

                   Wifes Age  ...  Contraceptive method used
Wife's age  Wife's education  ...  Contraceptive method used
24                         2  ...                          1
45                         1  ...                          1
43                         2  ...                          1
42                         3  ...                          1

[5 rows x 9 columns]

In [6]:
df.isna().sum()

Wifes Age                    0
Wife education               0
Husband education            0
Number of children           0
Wife now working             0
Husband occupation           0
Standard-of-living           0
Media exposure               0
Contraceptive method used    0
dtype: int64

In [7]:
df.nunique()

Wifes Age                     5
Wife education                5
Husband education            11
Number of children            2
Wife now working              3
Husband occupation            5
Standard-of-living            5
Media exposure                3
Contraceptive method used     3
dtype: int64

The data Show that most Women at the time (1987) didn't use contraceptives, educated or not (Husband's education included)

In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns
column_names = [ 'Age', 'Spectacle prescription', 'Astigmatic', 'Tear production rate', 'What type of lens they need']
df = pd.read_csv("https://raw.githubusercontent.com/MatthewM287/Module-11/main/Lenes.csv", names = column_names)
df_original = df.copy()
print('The dimensions of the data are: ', df.shape)
df.head()

The dimensions of the data are:  (25, 5)

    Age  ...  What type of lens they need
0   Age  ...  What type of lens they need
1     1  ...                            3
2     1  ...                            2
3     1  ...                            3
4     1  ...                            1

[5 rows x 5 columns]

In [5]:
df.isna().sum()

Age                            0
Spectacle prescription         0
Astigmatic                     0
Tear production rate           0
What type of lens they need    0
dtype: int64

In [6]:
df.nunique()

Age                            4
Spectacle prescription         3
Astigmatic                     3
Tear production rate           3
What type of lens they need    4
dtype: int64

This Shows that most people, despite everything, shouldn't be fitted to contact lenes