<a href="https://colab.research.google.com/github/MatthewM287/Module-11/blob/main/Module_11_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I'm Unsure Why it keeps coming out like this

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns

column_names = [ 'Wifes Age', 'Wife education', 'Husband education', 'Number of children', 'Wife now working', 'Husband occupation', 'Standard-of-living', 'Media exposure', 'Contraceptive method used']
df = pd.read_csv("https://github.com/MatthewM287/Module-11/blob/main/Contraceptive%20Method%20Choice%20Data%20Set%20.csv", names = column_names)
df_original = df.copy()
print('The dimensions of the data are: ', df.shape)
df.head()

The dimensions of the data are:  (1354, 9)

                                           Wifes Age  ... Contraceptive method used
0                                    <!DOCTYPE html>  ...                       NaN
1  <html lang="en" data-color-mode="auto" data-li...  ...                       NaN
2                                             <head>  ...                       NaN
3                             <meta charset="utf-8">  ...                       NaN
4    <link rel="dns-prefetch" href="https://githu...  ...                       NaN

[5 rows x 9 columns]